<div class="filters__item">
  Games on Page:
  <select ng-model="$parent.gamesOnPage"
    ng-options="gamesOnPage.text for gamesOnPage in gamesOnPageValues track by gamesOnPage.value"
    ng-change="currentPageReset()"></select>
</div>
<div class="filters__item">
  Sort By:
  <select ng-model="$parent.sortColumn" ng-change="resetReverseSort()"
    ng-options="sortColumn.text for sortColumn in sortColumnValues track by sortColumn.value"></select>
  <select ng-model="$parent.reverseSort"
    ng-options="reverseSort.text for reverseSort in reverseSortValues track by reverseSort.value"></select>
</div>
<div class="filters__item">
  Sort by category:
  <select ng-model="$parent.category" ng-change="toggleExactMatch(category); currentPageReset()">
    <option value="">All Categories</option>
    <option ng-repeat="category in games.categories" value="{{ category.ID }}">{{ category.Name.en }}</option>
  </select>
</div>
<div class="filters__item">
  Sort by merchant:
  <select ng-model="$parent.merchant" ng-change="currentPageReset()">
    <option value="">All Merchants</option>
    <option ng-repeat="merchant in games.merchants" value="{{ merchant.ID }}">{{ merchant.Name }}</option>
  </select>
</div>
<div class="filters__item">
  <input type="checkbox" ng-model="$parent.favoriteOnly" ng-disabled="isFavoritesEmpty()" ng-change="currentPageReset()">
  Favorites only
</div>